*{
    margin: 0;
    padding: 0;
}

#container-hero{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #537188;
    font-size: 1.2rem;
    font-family: 'inter',sans-serif;
}
.kalkulator-container{
    width: 350px;
    background-color: #fff;
    padding: 30px 30px;
    border-radius: 10px;
}
.judul{
    text-align: center;
    font-weight: 600;
    margin-bottom: 3rem;
}
.umur{
    text-align: center;
}

.label-input-umur {
    padding-bottom: 4px;
    display: block;
}

.umur input{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 2px solid #ccc;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1rem;
}
.umur input:focus,.parameter input:focus{
    outline: none;
}
.parameter input{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 2px solid #ccc;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2rem;
}
.jenis-kelamin{
    display: flex;
    padding: 20px;
}
.jenis-kelamin input{
    margin-right: 10px;
    width: 20px;
    height: 20px;
}
.jenis-kelamin .laki-laki{
    margin-left: 20px;
}
.jenis-kelamin .perempuan{
    margin-left: auto;
    margin-right: 20px;
}
.parameter{
    text-align: center;
    margin-top: 0.6rem;
}

.parameter .berat-badan{
    margin-left: auto;
}

.label-input-tinggi-badan {
    margin-bottom: 4px;
    display: block;
}

.label-input-berat-badan {
    margin-bottom: 4px;
    display: block;
}

.button{
    text-align: center
}

.hitung-button{
    background-color: #526D82;
    color: #fff;
    border: none;
    width: 100%;
    font-size: 1.2rem;
    margin-top: 1.5rem;
    padding: 15px 15px;
    border-radius: 5px;
}

.result{
    text-align: center;
    font-size: 1.3rem;
    margin-top: 1rem;
    background-color: #AEDBCE;
    color: #22577A;
    font-weight: 500;
    padding: 20px 0px;
    border-radius: 5px;
    display: none;
}
.comment{
    margin-top: 0.5rem;
}
.error{
    text-align: center;
    background-color: #fedfe1;
    color: #cd4243;
    margin-top: 1rem;
    padding: 15px 0px;
    border-radius: 5px;
    display: none;
}